
.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn.cancel {
    background-color: #f44336; 
}

.btn:hover {
    opacity: 0.8;
}
.formTitulo input[type="text"] {
    border-radius: 2px;
    border: 1px solid #ccc;
}

.formTitulo{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
.btn-adicionar-topico, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.criarTopicoRaizLi{
    display:flex;
    flex-direction: row;
    align-items: center;
}