.container-topico {
    display: flex;
    gap: 20px;
}

.topico-nome {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    grid-column: 1 / -1; /* Faz o h1 ocupar toda a linha */
    text-align: left;
}


.card-curso {
    border-top: 10px solid #3a6ea5;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.foto-professor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 auto 20px auto;
}

.titulo-curso {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.prof-curso {
    font-size: 14px;
    color: #777;
}

.card-curso {
    border-top: 10px solid #3a6ea5;
}