body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.tela-completa {
    display: flex;
}

main {
    width: 100%;
    overflow-y: auto;
}

h1 {
    margin-bottom: 0px;
}

/* Estatísticas */
.section-estatisticas {
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-estatisticas h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

#estatisticas {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.estatistica {
    /* background-color: #333; */
    border: 4px solid var(--cor-primaria-tom2);
    border-radius: 8px;
    width: 180px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.estatistica p {
    margin: 0;
    color: var(--cor-primaria-tom2);
}

.estatistica p:first-child {
    font-size: 32px;
    font-weight: bold;
}

.estatistica p:last-child {
    font-size: 16px;
}

.btn-ver-mais {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.btn-ver-mais:hover {
    background-color: #0056b3;
}
/* Estilização da seção "Seus Cursos" */
.section-seus-cursos {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-seus-cursos h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.lista-cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x:auto;
}

/* .card-curso {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
} 
    peguei o card curso do lucas e coloquei no pattern    
*/

.titulo-curso {
    font-size: 18px;
    color: #333;
}

.prof-curso {
    font-size: 14px;
    color: #666;
}

/* Próximas Aulas */
.section-ultimos-avisos {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-ultimos-avisos h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.avisos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aviso {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aviso h3 {
    font-size: 16px;
    color: #333;
    margin: 0 0 5px 0;
}

.aviso p {
    font-size: 14px;
    color: #666;
}

#topico-titulo-seus-cursos{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    padding-bottom: 10px;
    font-size: 17px;
}
h1.topico-nome {
    margin: 0px;
}
#topico-titulo-seus-cursos form{
    margin-left: 5px;
    flex-grow: 1;
}
#topico-titulo-seus-cursos input{
    border: none;
    outline: none;
    flex-grow: 1;
    border-radius: 25px;
    font-size: 16px;
    width: 100%;
    border: 1px solid var(--cor-secundaria-tom1);
    box-sizing: border-box;
    /* background-color: var(--cor-secundaria-tom1); */
}