@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #0D1117;
    --cor-secundaria: #F4F4F4;
    --cor-terciaria: #3a6ea5;

    --cor-primaria-tom1: #b0b4ba;
    --cor-secundaria-tom1: #D9D9D9;
    --cor-primaria-tom2: rgb(79, 79, 79);
    --fonte: 'Inter', sans-serif;
}
.tela-completa {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}
button.btn-favoritar {
    border: none;
    background-color: inherit;
    margin-left: auto;
}

html,
body {
    margin: 0px;
    font-family: var(--fonte);
    background-color: var(--cor-secundaria);
    height: 100%;
    color: var(--cor-primaria);
}

.hidden{
    display: none;
}

#menu {
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-width: 120px;
}

#menu ul {
    list-style: none;
}

#menu li {
    padding: 10px;
    text-align: left;
}

#menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

#menu li:hover {
    background-color: #ddd;
}

#link-atualizar-perfil,
#link-atualizar-perfil:hover,
#link-atualizar-perfil:visited {
    color: var(--cor-primaria);
}

.tela-completa {
    /*margin: 18px 16px;*/
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tela-completa main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

#perfil {
    border-radius: 100px;
    padding: 8px 10px;
    border: none;
    background-color: var(--cor-secundaria-tom1);
    border: 1px solid var(--cor-secundaria-tom1);
}
#perfil:hover {
    cursor: pointer;
    border: 1px solid var(--cor-primaria-tom1);
}

#menu-superior {
    border-bottom: 1px solid var(--cor-primaria-tom1);
}

#menu-superior nav {
    display: flex;
    flex-direction: row;
    width: all;
    justify-content: end;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
}

#menu-superior nav .tmenu {
    margin-right: auto;
}

#menu-superior .icon {
    font-size: 20px;
}

#menu-superior .search {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 25px;
    padding: 5px 10px;
    width: 300px;
    height: 50%;
    background-color: var(--cor-secundaria-tom1);
    border: none;
}

#menu-superior .search input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--cor-secundaria-tom1);
}

#menu-superior .search i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#menu-superior nav>i {
    color: var(--cor-primaria);
    padding: 14px 17px;

}

#menu-superior nav>i:hover {
    background-color: var(--cor-secundaria-tom1);
    border-radius: 100%;
    cursor: pointer;
}

#icon-main {
    height: 60px;
    margin-right: auto;
}


/* notificação */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.notification.warning {
    background-color: #f9e79f;
    border: 1px solid #f7dc6f;
}

.notification.success {
    background-color: #C2EB7B;
    border: 1px solid #a3cc5c;
}

.notification.error {
    background-color: rgb(230, 126, 126);
    border: 1px solid rgb(213, 103, 103);
}

.close-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.border-animation {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.327);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: width 5s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* texto info mouse */
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--cor-secundaria);
    padding: 8px;
    border-radius: 4px;
    z-index: 1000;
    transition: opacity 0.2s ease;
}

/* Sidebar adjustments */
.sidebar {
    width: 240px;
    background-color: #F4F4F4; /* Ajuste para a cor de fundo */
    padding-top: 20px;
    border-right: 1px solid #E0E0E0;
    font-family: 'Nunito', sans-serif;
    color: #333;
    padding-left: 20px;
    height: 100%;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #EAEAEA; /* Cor ao passar o mouse */
}

.sidebar i {
    font-size: 20px;
    margin-right: 15px;
    color: #666;
}

.menu-text-visible {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #333;
}

/* Ajustes específicos para cada ícone */
.sidebar a:nth-child(1) i { /* Início */
    color: #333;
}
.sidebar a:nth-child(2) i { /* Progresso */
    color: #666;
}
.sidebar a:nth-child(3) i, .sidebar a:nth-child(4) i { /* Inscrições e Cursos */
    font-size: 18px;
}
/* Arquivados e Configurações */
.sidebar .item-menu-final i { 
    color: #999;
}
.sidebar form button,
.sidebar a button {
    all: unset;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}
.sidebar:not(.minimized) form button,
.sidebar:not(.minimized) a button {
    gap: 14px;
}
.sidebar.minimized form button,
.sidebar.minimized a button {
    gap: 0;
}

.sidebar form:hover,
.sidebar a:hover {
    background-color: var(--cor-secundaria-tom1);
    cursor: pointer;
}

/* Final items adjustment */
.item-menu-final {
    margin-top: auto;
    padding-bottom: 20px;
    border-top: 1px solid #E0E0E0;
}

/* Hover effects */
.sidebar a:hover i {
    color: #333;
}

/* Minimized sidebar */
.sidebar.minimized {
    width: 60px;
}

.sidebar.minimized i {
    margin: 0;
}
.sidebar.minimized .menu-text-visible {
    display: none;
}

/* Espaçamento entre os itens principais */
.item-menu-final {
    margin-top: 150%;
}




#menu-text-visible {
    opacity: 1;
    width: auto;
    transition: opacity 0.3s ease, width 0.3s ease;
}


.container-principal {
    padding: 20px;
    padding-bottom: 15px;
    overflow: auto;
}


/* controle deslizante */
.dificuldade-texto {
    margin-top: 10px;
}


/* exibição de curso */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.exibicao-curso {
    padding: 10px 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
}

.exibicao-curso #lista-principal {
    padding-top: 10px;
    margin-left: 10px;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 15px;
    box-sizing: border-box;
    flex-grow: 1;
}

.container-principal {
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header-menu-curso {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: solid var(--cor-primaria-tom1) 1px;
}

#header-menu-curso h3,
#header-menu-curso p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header-menu-curso h3 {
    font-weight: normal;
    font-size: 25px;
    color: inherit;
}

#header-menu-curso p {
    color: var(--cor-primaria-tom2);
}

#menu-curso {
    display: flex;
    flex-direction: row;
}

#menu-curso form {
    padding: 10px 20px;
}

#menu-curso form:hover {
    background-color: var(--cor-secundaria-tom1);
    cursor: pointer;
}

#menu-curso form,
#menu-curso a {
    padding: 10px 20px;
}
#menu-curso form:hover,
#menu-curso a:hover {
    background-color: var(--cor-secundaria-tom1);
    cursor: pointer;
}
#menu-curso a {
    text-decoration: none;
    color: inherit;
  }
#menu-curso a:visited {
    color: inherit;
  }  
#menu-curso a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }
.exibicao-curso ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.exibicao-curso ul ul {
    padding-top: 8px;
    margin-left: 30px;
    padding-bottom: 15px;
}

.exibicao-curso li .recurso-item-container>a:first-child,
.exibicao-curso li .recurso-item-container>div:first-child {
    padding-left: 10px;
    padding-right: 30px;
}

.exibicao-curso li .recurso-item-container>a,
.exibicao-curso li .recurso-item-container>div {
    padding-bottom: 7px;
    padding-top: 7px;
}

.exibicao-curso li .recurso-item-container>a>i {
    margin-right: 10px;
}

.exibicao-curso li .recurso-item-container .recurso-container-edicao {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    gap: 3px;
}

.exibicao-curso li div.recurso-item-container {
    display: flex;
    flex-direction: row;
}

.exibicao-curso a,
.exibicao-curso a:visited,
.exibicao-curso a:hover,
.exibicao-curso a:active {
    text-decoration: none;
    color: inherit;
}

.exibicao-curso li div.recurso-item-container div:first-child,
.exibicao-curso li div.recurso-item-container a:first-child {}

.exibicao-curso li div.topico-container div.title-topico:hover {
    cursor: pointer;
}

.exibicao-curso li div.topico-container div.title-topico i {
    font-size: 25px;
    margin-left: 10px;
}

.title-topico i {
    transition: transform 0.3s ease;
}

.title-topico:not(.btn-minimized) i {
    transform: rotate(180deg);
}

li.li-minimized ul {
    display: none;
}

.topico-original>div>div>.title-topico span {
    font-size: 20px;
}

/* li > div:first-child {
    padding-bottom: 10px;
} */
.exibicao-curso ul li:not(:last-child) {
    border-bottom: 1px solid var(--cor-primaria-tom1);
}

li:not(:has(ul)):hover {
    background-color: var(--cor-secundaria-tom1);
}



/* barra de pesquisa */
.search-bar {
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid var(--cor-primaria-tom2);
}


/* card curso do lucas */
.card-curso {
    border-top: 10px solid #3a6ea5;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-width: 20px;
    margin: 10px;
}