body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

main{
    display: flex;
    
}
.form-container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}
