<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/cabecalho.css">
    <link rel="stylesheet" href="styles/padrao.css">


</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><img src="imgs/icone_sem_fundo.png"></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cursos.html">Cursos</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="login.html" class="btn-login">Entrar</a></li>
                    <li><a href="registrar1.html" class="btn-registro">Cadastrar</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>