<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="styles/registro.css">
</head>
<body>
    <div class="container">
        <h2>Informe seus dados</h2>
        <p>Complete as informações para criar sua conta</p>
        <div class="progress-bar">
            <div class="progress"></div>
            <div class="remaining"></div>
        </div>
        <form>
            <label for="nome">Nome Completo:</label>
            <input type="text" id="nome" name="nome">

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email">

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone">

            <div class="checkbox-container">
                <input type="checkbox" id="termos" name="termos">
                <label for="termos">Ao informar seus dados e seguir para a próxima etapa, você automaticamente concorda com nossos <a href="#">Termos de Uso</a></label>
            </div>

            <button type="submit"><a href="registrar2.html">Continuar</a></button>
        </form>
    </div>
</body>
</html>
