<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolphub</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/cabecalho.css">
    <link rel="stylesheet" href="styles/padrao.css">

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><img src="imgs/icone_sem_fundo.png"></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cursos.html">Cursos</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="login.html" class="btn-login">Entrar</a></li>
                    <li><a href="registrar1.html" class="btn-registro">Cadastrar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home" class="home">
        <div class="home-content">
            <h1>Bem-vindo ao Dolphub</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt vestibulum ligula, at
                condimentum lorem pharetra sit amet. Curabitur vitae nisi cursus, feugiat urna vitae, ornare arcu. Nulla
                accumsan, turpis et ultricies condimentum, mauris metus porta augue, in porta ex justo et lectus. Cras
                at iaculis nibh. Nulla at auctor urna. Nunc nunc dui, congue et euismod nec, vulputate a nunc.</p>
            <a href="#cursos" class="btn-home">Entre na plataforma</a>
        </div>
    </section>


    <section id="sobre" class="sobre">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>A Dolphub é uma plataforma inovadora dedicada a fornecer educação de alta qualidade para todos. Nossos
                cursos são projetados por especialistas do setor para garantir que você receba o melhor aprendizado
                possível.</p>
            <div class="sobre-grid">
                <div class="about-item">
                    <h3>Missão</h3>
                    <p>Capacitar indivíduos com o conhecimento e as habilidades necessárias para ter sucesso em um mundo
                        em constante evolução.</p>
                </div>
                <div class="sobre-item">
                    <h3>Visão</h3>
                    <p>Ser a plataforma de aprendizado online líder, reconhecida pela qualidade e acessibilidade dos
                        nossos cursos.</p>
                </div>
                <div class="sobre-item">
                    <h3>Valores</h3>
                    <p>Compromisso com a excelência, inovação, e a criação de um ambiente de aprendizado inclusivo e
                        acessível.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="cursos" class="cursos">
        <div class="container">
            <h2>Cursos Populares</h2>
            <p>Explore nossos cursos mais populares que podem ajudá-lo a avançar na sua carreira e no seu aprendizado
                pessoal.</p>
            <div class="cursos-grid">
                <div class="cursos-card">
                    <h3>Curso de Desenvolvimento Web</h3>
                    <p>Aprenda a criar websites e aplicações web interativas.</p>
                    <a href="#" class="btn-secondary">Saiba Mais</a>
                </div>
                <div class="cursos-card">
                    <h3>Curso de Marketing Digital</h3>
                    <p>Desenvolva habilidades em SEO, PPC e estratégias de marketing digital.</p>
                    <a href="#" class="btn-secondary">Saiba Mais</a>
                </div>
                <div class="cursos-card">
                    <h3>Curso de Análise de Dados</h3>
                    <p>Aprenda a coletar, analisar e interpretar dados para tomar decisões informadas.</p>
                    <a href="#" class="btn-secondary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </section>

    <section id="testemunho" class="testemunhos">
        <div class="container">
            <h2>Depoimentos</h2>
            <p>Veja o que nossos alunos têm a dizer sobre seus cursos e experiências com a Dolphub.</p>
            <div class="testemunhos-grid">
                <div class="testemunhos-card">
                    <p>"Os cursos da Dolphub me ajudaram a obter uma promoção no trabalho. O material é excelente e os
                        instrutores são muito qualificados!"</p>
                    <h4>Maria Silva</h4>
                </div>
                <div class="testemunhos-card">
                    <p>"Aprendi habilidades práticas que imediatamente pude aplicar no meu negócio. Recomendaria a
                        Dolphub a qualquer pessoa."</p>
                    <h4>João Pereira</h4>
                </div>
                <div class="testemunhos-card">
                    <p>"A plataforma é fácil de usar e os cursos são bem estruturados. Adorei a experiência de
                        aprendizado!"</p>
                    <h4>Fernanda Costa</h4>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Dolphub.</p>
        </div>
    </footer>

</body>

</html>