<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub - Avisos do Curso</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/aviso.css}" rel="stylesheet">
</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>

        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>

            <div class="container-principal">
                <h1 th:text="'Avisos do Curso: ' + ${curso.nome}"></h1>

                <div th:if="${avisos.isEmpty()}">
                    <p>Não há avisos disponíveis para este curso.</p>
                </div>

                <div id="avisos" th:if="${!avisos.isEmpty()}">
                    <h3>Avisos</h3>
                    <div th:each="aviso : ${avisos}" class="aviso-card">
                        <div class="aviso-titulo" th:text="${aviso.titulo}"></div>
                        <div class="aviso-mensagem" th:text="${aviso.mensagem}"></div>
                        <div class="aviso-detalhes">
                            Por <span th:text="${aviso.usuario.nome}"></span>, em <span th:text="${aviso.data}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
