<!-- template para todas as páginas em que alguém está logado (ou seja exceto login) -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">

</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">
            <div th:replace="componentes/cabecalho_curso :: cabecalho_curso"></div>

            
            <div class="exibicao-curso">
                <ul>

                    <li th:each="recurso : ${recursos}" th:if="${recurso.topicoPai == null}">
                        <div>
                            <div th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                <div th:text="${recurso.titulo}"></div>
                            </div>
                            <div th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                <a th:href="@{/editarCurso/baixarArquivo/{id}(id=${recurso.id})}" th:text="${recurso.titulo}"></a>
                            </div>
                            <div th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                <a th:text="${recurso.titulo}"></a>
                            </div>
                            <a th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}"
                                th:text="${recurso.titulo}"></a>
                        </div>


                        <ul th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                            <li th:each="subRecurso : ${recurso.recursos}">
                                <div>
                                    <div th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                        <div th:text="${subRecurso.titulo}">aaa</div>
                                    </div>
                                    <div th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                        <a th:href="@{/editarCurso/baixarArquivo/{id}(id=${subRecurso.id})}"
                                        th:text="${subRecurso.nome}"></a>
                                    </div>
                                    <div th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                        <a th:text="${subRecurso.titulo}"></a>
                                    </div>
                                    <div th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}">
                                        <a th:text="${subRecurso.titulo}"></a>
                                    </div>
                                </div>


                                <ul th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                    <li th:each="subSubRecurso : ${subRecurso.recursos}">
                                        <div>
                                            <div th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                                <div th:text="${subSubRecurso.titulo}">aaa</div>
                                            </div>
                                            <div th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                                <a th:href="@{/editarCurso/baixarArquivo/{id}(id=${subSubRecurso.id})}"
                                                    th:text="${subSubRecurso.nome}"></a>
                                            </div>
                                            <div th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                                <a th:text="${subSubRecurso.titulo}"></a>
                                            </div>
                                            <div th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}">
                                                <a th:text="${subSubRecurso.titulo}"></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
</html>
