<!-- template para todas as páginas em que alguém está logado (ou seja exceto login) -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/questao.css}" rel="stylesheet">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">
            <span th:if="${role == 'professor'}"><div th:replace="componentes/cabecalho_curso_prof :: cabecalho_curso_prof"></div></span>
            <span th:if="${role == 'aluno'}"><div th:replace="componentes/cabecalho_curso :: cabecalho_curso"></div></span>

            <div id="container-questao">
                <section id="banco-questao-menu">
                    <div id="controle-questao" th:if="${role == 'professor'}">
                        <a id="add-questao" th:href="@{/editarCurso/{idCurso}/enviarQuestao(idCurso=${curso.id})}">Criar questão <i class="fa-solid fa-plus"></i></a>
                    </div>

                    <form id="filtro">
                        <h3>Filtro de questões</h3>
                        
                        <input id="chave" type="text" placeholder="Palavras-chave">
                        
                        <label class="option-filtro"> Selecionar tags:
                            <select name="tags" multiple size="5">
                                <option>Alcaneo</option>
                                <option>Alceno</option>
                                <option>Butano</option>
                            </select>
                        </label>
                        
                        <div class="option-filtro">Filtrar por período:
                            <label class="label-periodo">De:
                                <input type="date">
                            </label>
                            <label class="label-periodo">Até:
                                <input type="date">
                            </label>
                        </div>

                        <button type="submit">Pesquisar</button>
                    </form>

                </section>

                <!-- container para prof -->
                <section th:if="${role == 'professor'}" id="lista-questoes-container">
                    <form th:each="questao : ${questoes}" class="questao-container">
                        <div class="acoes">
                            <a th:href="@{'/editarCurso/editarQuestao/' + ${questao.id}}"><i class="fa-solid fa-pencil"></i></a>
                            <a th:href="@{/editarCurso/{idCurso}/apagarQuestao/{id}(idCurso=${curso.id}, id=${questao.id})}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <div class="questao-enunciado" th:text="${questao.enunciado}"></div>
                
                        <div class="alternativas">
                            <div th:each="alternativa : ${questao.alternativas}" class="alternativa">
                                <input type="radio" disabled th:checked="${alternativa.verificacao}">
                                <span th:text="${alternativa.descricao}"></span>
                            </div>
                        </div>
                        <button type="submit">Responder</button>
                    </form>
                </section>

                <!-- container para alunos -->
                <section th:if="${role == 'aluno'}" id="lista-questoes-container" th:data-responder-url="@{/acessarCurso/{cursoId}/responderQuestao(cursoId=${curso.id})}">
                    <form th:each="questao : ${questoes}" class="questao-container" th:data-id="${questao.id}">
                        <div class="questao-enunciado" th:text="${questao.enunciado}"></div>
                        <div class="alternativas">
                            <div th:each="alternativa : ${questao.alternativas}" class="alternativa">
                                <input type="radio" name="resposta" th:value="${alternativa.id}" />
                                <span th:text="${alternativa.descricao}"></span>
                            </div>
                        </div>
                        <button type="button" class="responder-btn">Responder</button>
                    </form>
                </section>

            </div>
        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
    <script th:src="@{/javascript/questao.js}"></script>
</html>
