<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub - Dashboard</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/pagina_inicial.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div class="container-criar-topico">
                <h1>Criar Novo Tópico</h1>
                <form th:action="@{/criar_topico}" method="post">
                    <label for="titulo">Título do Tópico:</label>
                    <input type="text" id="titulo" name="titulo" required>
        
                    <label for="topicoPai">Tópico Pai (opcional):</label>
                    <input type="text" id="topicoPai" name="topicoPai" placeholder="ID do tópico pai, se houver">
        
                    <button type="submit">Criar Tópico</button>
                </form>
            </div>
        </main>
    </div>
</body>
<script th:src="@{/javascript/pattern.js}"></script>

</html>
