<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub</title>
    <link href="styles/pattern.css" rel="stylesheet">
</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div class="container-principal">
                <h1>Olá, <span th:text="${usuarioLogado.nome}">Fulano</span>!</h1>
            </div>
            <h1>Criar Curso</h1>
            <form th:action="@{/salvarCurso}" th:object="${curso}" method="post">
                <div>
                    <label for="nome">Nome do Curso</label>
                    <input type="text" id="nome" th:field="*{nome}" placeholder="Nome do Curso" required />
                </div>
                <div>
                    <label for="descricao">Descrição</label>
                    <textarea id="descricao" th:field="*{descricao}" placeholder="Descrição do Curso" required></textarea>
                </div>
                <input type="hidden" id="professor" th:field="*{professor.id}" />
                <button type="submit">Salvar</button>
            </form>
        </main>
    </div>
</body>
<script src="javascript/pattern.js"></script>

</html>
