<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub</title>
    <link href="styles/pattern.css" rel="stylesheet">
    <link href="styles/cursos.css" rel="stylesheet" />

</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div class="container-principal">
                <h1>Olá, <span th:text="${usuarioLogado.nome}">Fulano</span>!</h1>
                <h2 class="topico-nome">Meus Cursos Inscritos</h2>
                <ul class="lista-cursos" th:if="${matriculaLista != null}">
                  <li th:each="matricula : ${matriculaLista}">
                    <div class="card-curso">
                      <div class="foto-professor"></div>
                      <h2 class="titulo-curso" th:text="${matricula.nome}">Nome do Curso</h2>
                      <p class="prof-curso" th:text="'Prof. ' + ${matricula.professor.usuario.nome}">
                        Nome do Professor
                      </p>
                      <p>
                        <a th:href="'/dolphub/sairCurso/' + ${matricula.id}">Remover inscrição</a>
                      </p>
                      <p>
                        <a th:href="'/dolphub/acessoCurso/' + ${matricula.id}">Acessar</a>
                      </p>
                    </div>
                  </li>
                </ul>
      
                  </div>

        </main>

    </div>
</body>
<script src="javascript/pattern.js"></script>
<script src="javascript/menu.js"></script>


</html>