<!DOCTYPE html>
<head>
    <title>Curso</title>
    <link rel="stylesheet" href="dolphub/styles/pattern.css">

</head>
<body>
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_superior :: menu_superior"></div>
    
    <main>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

    </main>

    <!-- <h2>Upload de Arquivo</h2>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <label for="file">Escolha um arquivo:</label>
        <input type="file" id="file" name="file" accept="*/*" required>
        <br><br>
        <input type="submit" value="Upload">
    </form> -->
</body>
</html>
