<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/editarCurso.css}" rel="stylesheet">

</head>

<body>
    <div id="info-tooltip" class="tooltip" style="display: none;"></div>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>

        <div th:replace="componentes/notificacao :: notificacao"></div>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div class="container-principal">
                <div th:replace="componentes/cabecalho_curso :: cabecalho_curso"></div>


                <div class="exibicao-curso">
                    <!-- <div th:if="${recursos == null}">
                        Curso não encontrado
                    </div>
                    <div th:if="${recursos.isEmpty()}">
                        Não há nenhum recurso nesse curso
                    </div> -->
                    <ul id="lista-principal">

                        <li class="topico-original" th:each="recurso : ${recursos}"
                            th:if="${recurso.topicoPai == null}">
                            <div>
                                <div class="recurso-item-container topico-container"
                                    th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                    <div class="title-topico"><span th:text="${recurso.titulo}"></span><i
                                            class="fa-solid fa-caret-down"></i></div>
                                    <div class="recurso-container-edicao">
                                        <form class="formTitulo"
                                            th:action="@{/editarCurso/{idCurso}/gerarTopico/{idPai}(idCurso=${curso.id}, idPai=${recurso.id})}"
                                            method="GET">
                                            <input class="inputTitulo" type="text" name="titulo"
                                                placeholder="Digite o título do tópico" required />
                                            <button type="submit" class="btn-adicionar-topico" data-id="${recurso.id}">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </button>
                                        </form>
                                        <a th:href="@{/editarCurso/{idCurso}/enviarArquivo/{idPai}(idCurso=${curso.id}, idPai=${recurso.id})}"
                                            class="info-element" data-info="Novo arquivo"><i
                                                class="fa-solid fa-file-circle-plus"></i></a>
                                        <a th:href="@{/editarCurso/{idCurso}/enviarVideo/{idPai}(idCurso=${curso.id}, idPai=${recurso.id})}"
                                            class="info-element" data-info="Novo vídeo"><i
                                                class="fa-solid fa-video"></i></a>
                                    </div>
                                </div>
                                <div class="recurso-item-container"
                                    th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                    <a
                                        th:href="@{/editarCurso/{idCurso}/baixarArquivo/{id}(idCurso=${curso.id}, id=${recurso.id})}"><i
                                            class="fa-solid fa-file info-element"
                                            th:data-info="${recurso.descricao}"></i><span
                                            th:text="${recurso.titulo}"></span></a>
                                    <div class="recurso-container-edicao">
                                        <a
                                            th:href="@{/editarCurso/{idCurso}/editarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${recurso.id})}"><i
                                                class="fa-solid fa-pencil info-element" data-info="Editar"></i></a>
                                        <a
                                            th:href="@{/editarCurso/{idCurso}/apagarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${recurso.id})}"><i
                                                class="fa-solid fa-trash-can info-element" data-info="Apagar"></i></a>
                                    </div>
                                </div>
                                <div class="recurso-item-container"
                                    th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                    <a
                                        th:href="@{/editarCurso/{idCurso}/acessoVideo/{id}(idCurso=${curso.id}, id=${recurso.id})}"><i
                                            class="fa-solid fa-file-video info-element"
                                            th:data-info="${subRecurso.descricao}"></i><span
                                            th:text="${recurso.titulo}"></span></a>
                                    <div class="recurso-container-edicao">
                                        <a
                                            th:href="@{/editarCurso/{idCurso}/editarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${recurso.id})}"><i
                                                class="fa-solid fa-pencil info-element" data-info="Editar"></i></a>
                                        <a
                                            th:href="@{/editarCurso/{idCurso}/apagarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${recurso.id})}"><i
                                                class="fa-solid fa-trash-can info-element" data-info="Apagar"></i></a>
                                    </div>
                                </div>
                                <div class="recurso-item-container"
                                    th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}">
                                    <a><i class="fa-solid fa-square-pen info-element"
                                            th:data-info="${recurso.descricao}"></i><span
                                            th:text="${recurso.titulo}"></span></a>
                                    <div class="recurso-container-edicao"></div>
                                </div>
                            </div>


                            <ul th:if="${recurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                <li th:each="subRecurso : ${recurso.recursos}">
                                    <div>
                                        <div class="recurso-item-container topico-container"
                                            th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                            <div class="title-topico"><span th:text="${subRecurso.titulo}"></span><i
                                                    class="fa-solid fa-caret-down"></i></div>
                                            <div class="recurso-container-edicao">
                                                <form class="formTitulo"
                                                    th:action="@{/editarCurso/{idCurso}/gerarTopico/{idPai}(idCurso=${curso.id}, idPai=${recurso.id})}"
                                                    method="GET">
                                                    <input class="inputTitulo" type="text" name="titulo"
                                                        placeholder="Digite o título do tópico" required />
                                                    <button type="submit" class="btn-adicionar-topico"
                                                        data-id="${recurso.id}">
                                                        <i class="fa-solid fa-circle-plus"></i>
                                                    </button>
                                                </form>
                                                <a th:href="@{/editarCurso/{idCurso}/enviarArquivo/{idPai}(idCurso=${curso.id}, idPai=${subRecurso.id})}"
                                                    class="info-element" data-info="Novo arquivo"><i
                                                        class="fa-solid fa-file-circle-plus"></i></a>
                                                <a th:href="@{/editarCurso/{idCurso}/enviarVideo/{idPai}(idCurso=${curso.id}, idPai=${subRecurso.id})}"
                                                    class="info-element" data-info="Novo vídeo"><i
                                                        class="fa-solid fa-video"></i></a>
                                            </div>
                                        </div>
                                        <div class="recurso-item-container"
                                            th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                            <a
                                                th:href="@{/editarCurso/{idCurso}/baixarArquivo/{id}(idCurso=${curso.id}, id=${subRecurso.id})}"><i
                                                    class="fa-solid fa-file info-element"
                                                    th:data-info="${subRecurso.descricao}"></i><span
                                                    th:text="${subRecurso.titulo}"></span></a>
                                            <div class="recurso-container-edicao">
                                                <a
                                                    th:href="@{/editarCurso/{idCurso}/editarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${subRecurso.id})}"><i
                                                        class="fa-solid fa-pencil info-element"
                                                        data-info="Editar"></i></a>
                                                <a
                                                    th:href="@{/editarCurso/{idCurso}/apagarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${subRecurso.id})}"><i
                                                        class="fa-solid fa-trash-can info-element"
                                                        data-info="Apagar"></i></a>
                                            </div>
                                        </div>
                                        <div class="recurso-item-container"
                                            th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                            <a
                                                th:href="@{/editarCurso/{idCurso}/acessoVideo/{id}(idCurso=${curso.id}, id=${subRecurso.id})}"><i
                                                    class="fa-solid fa-file-video info-element"
                                                    th:data-info="${subRecurso.descricao}"></i><span
                                                    th:text="${subRecurso.titulo}"></span></a>
                                            <div class="recurso-container-edicao">
                                                <a
                                                    th:href="@{/editarCurso/{idCurso}/editarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${subRecurso.id})}"><i
                                                        class="fa-solid fa-pencil info-element"
                                                        data-info="Editar"></i></a>
                                                <a
                                                    th:href="@{/editarCurso/{idCurso}/apagarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${subRecurso.id})}"><i
                                                        class="fa-solid fa-trash-can info-element"
                                                        data-info="Apagar"></i></a>
                                            </div>
                                        </div>
                                        <div class="recurso-item-container"
                                            th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}">
                                            <a><i class="fa-solid fa-square-pen info-element"
                                                    th:data-info="${subRecurso.descricao}"></i><span
                                                    th:text="${subRecurso.titulo}"></span></a>
                                            <div class="recurso-container-edicao"></div>
                                        </div>
                                    </div>


                                    <ul th:if="${subRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                        <li th:each="subSubRecurso : ${subRecurso.recursos}">
                                            <div>
                                                <div class="recurso-item-container topico-container"
                                                    th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Topico)}">
                                                    <div class="title-topico"><span
                                                            th:text="${subSubRecurso.titulo}"></span><i
                                                            class="fa-solid fa-caret-down"></i></div>
                                                    <div class="recurso-container-edicao">
                                                        <a th:href="@{/editarCurso/{idCurso}/enviarArquivo/{idPai}(idCurso=${curso.id}, idPai=${subSubRecurso.id})}"
                                                            class="info-element" data-info="Novo arquivo"><i
                                                                class="fa-solid fa-file-circle-plus"></i></a>
                                                        <a th:href="@{/editarCurso/{idCurso}/enviarVideo/{idPai}(idCurso=${curso.id}, idPai=${subSubRecurso.id})}"
                                                            class="info-element" data-info="Novo vídeo"><i
                                                                class="fa-solid fa-video"></i></a>
                                                    </div>
                                                </div>
                                                <div class="recurso-item-container"
                                                    th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Arquivo)}">
                                                    <a
                                                        th:href="@{/editarCurso/{idCurso}/baixarArquivo/{id}(idCurso=${curso.id}, id=${subSubRecurso.id})}"><i
                                                            class="fa-solid fa-file info-element"
                                                            th:data-info="${subSubRecurso.descricao}"></i><span
                                                            th:text="${subSubRecurso.titulo}"></span></a>
                                                    <div class="recurso-container-edicao">
                                                        <a
                                                            th:href="@{/editarCurso/{idCurso}/editarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${subSubRecurso.id})}"><i
                                                                class="fa-solid fa-pencil info-element"
                                                                data-info="Editar"></i></a>
                                                        <a
                                                            th:href="@{/editarCurso/{idCurso}/apagarArquivo/{idArquivo}(idCurso=${curso.id}, idArquivo=${subSubRecurso.id})}"><i
                                                                class="fa-solid fa-trash-can info-element"
                                                                data-info="Apagar"></i></a>
                                                    </div>
                                                </div>
                                                <div class="recurso-item-container"
                                                    th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Video)}">
                                                    <a
                                                        th:href="@{/editarCurso/{idCurso}/acessoVideo/{id}(idCurso=${curso.id}, id=${subSubRecurso.id})}"><i
                                                            class="fa-solid fa-file-video info-element"
                                                            th:data-info="${subSubRecurso.descricao}"></i><span
                                                            th:text="${subRecurso.titulo}"></span></a>
                                                    <div class="recurso-container-edicao">
                                                        <a
                                                            th:href="@{/editarCurso/{idCurso}/editarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${subSubRecurso.id})}"><i
                                                                class="fa-solid fa-pencil info-element"
                                                                data-info="Editar"></i></a>
                                                        <a
                                                            th:href="@{/editarCurso/{idCurso}/apagarVideo/{idVideo}(idCurso=${curso.id}, idVideo=${subSubRecurso.id})}"><i
                                                                class="fa-solid fa-trash-can info-element"
                                                                data-info="Apagar"></i></a>
                                                    </div>
                                                </div>
                                                <div class="recurso-item-container"
                                                    th:if="${subSubRecurso instanceof T(com.cefet.dolphub.Entidades.Recursos.Atividade)}">
                                                    <a><i class="fa-solid fa-square-pen info-element"
                                                            th:data-info="${subSubRecurso.descricao}"></i><span
                                                            th:text="${subSubRecurso.titulo}"></span></a>
                                                    <div class="recurso-container-edicao"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <form class="formTitulo"
                                th:action="@{/editarCurso/{idCurso}/gerarTopico(idCurso=${curso.id})}" method="GET">
                                <input class="inputTitulo" type="text" name="titulo"
                                    placeholder="Digite o título do tópico" required />
                                <button type="submit" class="btn-adicionar-topico" data-id="${recurso.id}">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
    </div>
</body>
<script th:src="@{/javascript/pattern.js}"></script>

</html>