<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/questao.css}" rel="stylesheet">

</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>


        <main>
            <div th:replace="componentes/notificacao :: notificacao"></div>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div th:replace="componentes/confirmacao :: confirmacao"></div>

            <div class="container-principal">
                <div class="titulo-env">
                    <a th:href="@{/editarCurso/{id}(id=${idCurso})}"><i class="fa-solid fa-arrow-left info-element"
                            data-info="Voltar"></i></a>
                    <div id="divTitulo" style="display:flex; align-items: center;">
                        <h3 th:text="${atividade.titulo}"></h3>
                        <a id="botaoConfigAtv" class="info-element" data-info="Configurações"
                            style="margin-left: 5px; color: #000000;text-decoration: none;">
                            <i class="fa-solid fa-gear" aria-hidden="true"></i></a>
                        <button style="margin-left: 20px;" id="adicionarQuestao">Adicionar questões</button>
                    </div>
                </div>
                <div style="display:none;" class="modal" id="config-modal">
                    <div id="formConfig" style="display:none;" class="container-form-video">
                        <form th:action="@{/editarCurso/atualizarAtividade}" method="post">
                            <div class="form-esq">
                                <label class="vnome">Nome:
                                    <input type="text" name="titulo" required th:value="${atividade.titulo}">
                                </label>

                                <label class="vdescricao">Descrição:
                                    <input type="text" name="descricao" required th:value="${atividade.descricao}">
                                </label>

                                <label class="vdificuldade" id="label-dificuldade">
                                    <div class="dificuldade-texto" id="dificuldadeTexto">Fácil</div>
                                    <input type="range" name="dificuldade" id="dificuldade-slider" class="slider"
                                        min="0" max="3" th:value="${atividade.dificuldade}" step="1"
                                        oninput="atualizarDificuldade()">
                                </label>
                            </div>

                            <input type="hidden" name="cursoId" th:value="${curso.id}">
                            <input type="hidden" name="idAtividade" th:value="${atividade.id}">

                            <button id="confirm-btn" class="btn confirm btn-salvar" type="submit">Confirmar</button>
                            <button type="button" id="cancelar" class="btn cancel">Cancelar</button>
                        </form>
                    </div>
                </div>


                <div style="display: none;" id="container-questao">
                    <p id="filtrando" style="display: none;" th:text="${filtro}"></p>
                    <section id="banco-questao-menu">
                        <form id="filtro" method="GET"
                            th:action="@{/editarCurso/{idCurso}/editarAtividade/{idAtividade}/filtrarQuestao(idCurso=${curso.id}, idAtividade=${atividade.id})}">
                            <h3>Filtro de questões</h3>

                            <input id="chave" name="chave" type="text" placeholder="Palavras-chave">

                            <div>
                                <label for="tags">Assunto:</label>
                                <select id="tags" name="tags" multiple style="width: 100%;">
                                    <option th:each="tag : ${tags}" th:value="${tag.nome}" th:text="${tag.nome}">
                                    </option>
                                </select>
                            </div>

                            <div class="option-filtro">Filtrar por período:
                                <label class="label-periodo">De:
                                    <input type="date" name="dataInicio">
                                </label>
                                <label class="label-periodo">Até:
                                    <input type="date" name="dataFim">
                                </label>
                            </div>

                            <button type="submit">Pesquisar</button>
                        </form>
                    </section>

                    <section class="lista-questoes-container">
                        <form th:each="questao : ${questoes}" class="questao-container">
                            <div class="acoes">
                                <a
                                    th:href="@{'/editarCurso/' + ${curso.id} + '/editarAtividade/' + ${atividade.id} + '/adicionarQuestao/' + ${questao.id}}"><i
                                        class="fa-solid fa-circle-plus"></i>Adicionar questão</a>
                            </div>
                            <div class="questao-enunciado" th:text="${questao.enunciado}"></div>

                            <div class="alternativas">
                                <div th:each="alternativa : ${questao.alternativas}" class="alternativa">
                                    <input type="radio" disabled th:checked="${alternativa.verificacao}">
                                    <span th:text="${alternativa.descricao}"></span>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <section style="display:block;" id="sectionQuestoes" class="lista-questoes-atividade-container">
                    <form th:each="questaoAtv : ${questoesAtv}" class="questao-container">
                        <div class="acoes">
                            <a class="apagar-link"
                                th:href="@{'/editarCurso/' + ${curso.id} + '/editarAtividade/' + ${atividade.id} + '/removerQuestao/' + ${questaoAtv.id}}"><i
                                    class="fa-regular fa-trash-can"></i>Remover questão</a>
                        </div>
                        <div class="questao-enunciado" th:text="${questaoAtv.enunciado}"></div>

                        <div class="alternativas">
                            <div th:each="alternativa : ${questaoAtv.alternativas}" class="alternativa">
                                <input type="radio" disabled th:checked="${alternativa.verificacao}">
                                <span th:text="${alternativa.descricao}"></span>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </main>

    </div>
</body>
<script th:src="@{/javascript/pattern.js}"></script>
<script>
    function invisible() {
        if (formConfig.style.display == "none") {
            formConfig.style.display = "flex";
            modal.style.display = "block";
        }
        else if (formConfig.style.display == "flex") {
            formConfig.style.display = "none";
            modal.style.display = "none";
        }
    }
    let formConfig = document.getElementById("formConfig");
    let botaoConfigAtv = document.getElementById("botaoConfigAtv");
    document.addEventListener("DOMContentLoaded", function () {
        let botaocancela = document.getElementById("cancelar");
        botaocancela.addEventListener('click', invisible);
    });
    botaoConfigAtv.addEventListener('click', invisible);

    let botaoAdicionar = document.getElementById("adicionarQuestao");
    let containerFiltro = document.getElementById("container-questao");
    let sectionQuestoes = document.getElementById("sectionQuestoes");
    let filtrando = document.getElementById("filtrando");
    let modal = document.getElementById("config-modal");


    function adicionarQuestao() {
        if (containerFiltro.style.display == "flex") {
            containerFiltro.style.display = "none";
            sectionQuestoes.style.display = "block";
            botaoAdicionar.innerHTML = "Adicionar questões";
        }
        else if (containerFiltro.style.display == "none") {
            containerFiltro.style.display = "flex";
            sectionQuestoes.style.display = "none";
            botaoAdicionar.innerHTML = "Cancelar";
        }
    }
    botaoAdicionar.addEventListener('click', adicionarQuestao);
    if (filtrando.innerHTML == "true") {
        containerFiltro.style.display = "flex";
        sectionQuestoes.style.display = "none";
        botaoAdicionar.innerHTML = "Cancelar";
    }

</script>
<script>
    attachLinkConfirmation('apagar-link');
</script>

</html>