
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/midia.css}" rel="stylesheet">

</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div id="info-tooltip" class="tooltip" style="display: none;"></div>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">

            <div th:replace="componentes/cabecalho_curso :: cabecalho_curso"></div>

            <div class="container-arquivo enviar" th:if="${operation == 'enviar'}">
                <div class="titulo-env">
                    <a th:href="@{/editarCurso/{id}(id=${idCurso})}"><i class="fa-solid fa-arrow-left info-element" data-info="Voltar"></i></a>
                    <h3>Editar Arquivo</h3>
                </div>
                <form id="form-arquivo" th:action="@{/editarCurso/salvarArquivo}" method="post" enctype="multipart/form-data">
                    <label>Nome:
                        <input type="text" name="nome" required>
                    </label>

                    <label>Descrição:
                        <input type="text" name="descricao" required>
                    </label>

                    <label>Upload:
                        <input type="file" id="arquivo" name="file" accept=".pdf" required/>
                    </label>

                    <label id="label-dificuldade">
                        Nível de Dificuldade:
                        <input type="range" name="dificuldade" id="dificuldade-slider" class="slider" min="0" max="3" value="0" step="1" oninput="atualizarDificuldade()">
                        <p class="dificuldade-texto" id="dificuldadeTexto">Fácil</p>
                    </label>

                    <input type="hidden" name="curso" th:value="${curso.id}">
                    <input type="hidden" name="topicoPai" th:value="${topicoPai}">

                    <button type="submit">Salvar</button>
                </form>
            </div>

            <div class="container-arquivo editar" th:if="${operation == 'editar'}">
                <div class="titulo-env">
                    <a th:href="@{/editarCurso/{id}(id=${idCurso})}"><i class="fa-solid fa-arrow-left info-element" data-info="Voltar"></i></a>
                    <h3>Editar Arquivo</h3>
                </div>
                <form id="form-arquivo" th:action="@{/editarCurso/atualizarArquivo}" method="post" >
                    <label>Nome:
                        <input type="text" name="titulo" required th:value="${arquivo.titulo}">
                    </label>

                    <label>Descrição:
                        <input type="text" name="descricao" required th:value="${arquivo.descricao}">
                    </label>

                    <label>Arquivo:
                        <input type="text" id="arquivo" readonly th:value="${arquivo.nome}">
                    </label>

                    <label id="label-dificuldade">
                        Nível de Dificuldade:
                        <input type="range" name="dificuldade" id="dificuldade-slider" class="slider" min="0" max="3" th:value="${arquivo.dificuldade}" step="1" oninput="atualizarDificuldade()">
                        <p class="dificuldade-texto" id="dificuldadeTexto">Fácil</p>
                    </label>

                    <input type="hidden" name="cursoId" th:value="${curso.id}">
                    <input type="hidden" name="idArquivo" th:value="${arquivo.id}">

                    <button type="submit">Salvar</button>
                </form>
            </div>

        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
</html>
