

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/questao.css}" rel="stylesheet">

    <!-- componente para busca avançada de tag aaaaaa -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:src="@{/javascript/tag.js}"></script>

</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">
            <div th:replace="componentes/cabecalho_curso_prof :: cabecalho_curso_prof"></div>
            <div id="enviar-questao" class="container-questao">

                <form class="form-questao" th:if="${operation == 'enviar'}" th:action="@{/editarCurso/salvarQuestao}" method="POST" onsubmit="return validarAlternativas()">
                    <input type="hidden" name="cursoId" th:value="${curso.id}" />
                    
                    <div class="nobtn">
                        <div>
                            <label for="enunciado">Enunciado:
                                <textarea id="enunciado" name="enunciado" required></textarea>
                            </label>
                    
                            <label class="ldificuldade" id="label-dificuldade">
                                <div class="dificuldade-texto" id="dificuldadeTexto">Fácil</div>
                                <input type="range" name="dificuldade" id="dificuldade-slider" class="slider" min="0" max="3" value="0" step="1" oninput="atualizarDificuldade()">
                            </label>
                        </div>
                        
                        <div class="container-dir">
                            <div id="alternativas">
                                <div class="alternativa">
                                    <input type="checkbox" class="check" name="verificacaoAlternativa[]" value="0" />
                                    <input type="text" name="descricaoAlternativa[]" required />
                                </div>
                                <div class="alternativa">
                                    <input type="checkbox" class="check" name="verificacaoAlternativa[]" value="1" />
                                    <input type="text" name="descricaoAlternativa[]" required />
                                </div>
                            </div>
                            <div id="cont-btn-alt">
                                <button type="button" onclick="adicionarAlternativa()">Adicionar Alternativa</button>
                                <button type="button" onclick="removerAlternativa()">Remover Alternativa</button>
                            </div>
                        </div>


                        <div>
                            <div>
                                <label for="tags">Assunto:</label>
                                <select id="tags" name="tags" multiple style="width: 100%;">
                                    <option th:each="tag : ${tags}" th:value="${tag.nome}" th:text="${tag.nome}"></option>
                                </select>
                            </div>
                            
                            <!-- <div style="margin-top: 10px;">
                                <label for="novaTag">Adicionar Nova Tag:</label>
                                <input type="text" id="novaTag" placeholder="Digite o nome da tag" style="width: calc(100% - 120px);" />
                                <button type="button" onclick="adicionarNovaTag()">Adicionar</button>
                            </div> -->
                        </div>

                        <!-- <div>
                            <label for="tagsExistentes">Selecione Tags Existentes:</label>
                            <select id="tagsExistentes" name="tagsExistentes" multiple>
                                <option th:each="tag : ${tags}" th:value="${tag.nome}" th:text="${tag.nome}"></option>
                            </select>

                            <label for="novaTag">Adicionar Nova Tag:</label>
                            <input type="text" id="novaTag" placeholder="Digite o nome da tag" />
                            <button type="button" onclick="adicionarNovaTag()">Adicionar Tag</button>

                            <ul id="listaNovasTags">
                            </ul>
                        </div> -->
                    </div>
                    <button type="submit">Cadastrar Questão</button>
                </form>
                
                <!-- separar enviar e editar -->

                <form class="form-questao" th:if="${operation == 'editar'}" th:action="@{/editarCurso/salvarEdicaoQuestao/{id}(id=${questao.id})}" method="post">
                    <input type="hidden" name="cursoId" th:value="${curso.id}" />
                    <div class="nobtn">
                        <div>
                            <div>
                                <label for="enunciado">Enunciado:</label>
                                <textarea type="text" id="enunciado" name="enunciado" th:text="${questao.enunciado}" required ></textarea>
                            </div>

                            <label class="ldificuldade" id="label-dificuldade">
                                <div class="dificuldade-texto" id="dificuldadeTexto">Fácil</div>
                                <input type="range" name="dificuldade" id="dificuldade-slider" class="slider" min="0" max="3" value="0" step="1" oninput="atualizarDificuldade()">
                            </label>
                        </div>
                        <div class="container-dir">
                            <div id="alternativas">
                                <div class="alternativa" th:each="alternativa, index : ${questao.alternativas}">
                                    <input type="hidden" name="verificacaoAlternativa" value="false" />
                                    <input class="check" type="checkbox" name="verificacaoAlternativa" th:checked="${alternativa.verificacao}" />
                                    <input type="text" name="descricaoAlternativa" th:value="${alternativa.descricao}" required />
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="tags">Assuntos:</label>
                            <select id="tags" multiple style="width: 100%;" disabled>
                                <option th:each="tag : ${tags}" 
                                        th:value="${tag.nome}" 
                                        th:text="${tag.nome}" 
                                        th:selected="${#arrays.contains(questao.tags, tag)}">
                                </option>
                            </select>
                        </div>
                    </div>
            
                    
                    
                    <button type="submit">Salvar</button>
                </form>

            </div>

            <div id="editar-questao" class="container-questao"></div>
        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
    <script th:src="@{/javascript/questao.js}"></script>
    <!-- <script>
        function adicionarNovaTag() {
            const inputNovaTag = document.getElementById("novaTag");
            const listaNovasTags = document.getElementById("listaNovasTags");
            
            const novaTag = inputNovaTag.value.trim();
            if (novaTag) {
                const li = document.createElement("li");
                li.textContent = novaTag;

                const inputHidden = document.createElement("input");
                inputHidden.type = "hidden";
                inputHidden.name = "novasTags";
                inputHidden.value = novaTag;

                li.appendChild(inputHidden);
                listaNovasTags.appendChild(li);
                inputNovaTag.value = ""; // Limpar o campo de texto
            }
        }
    </script> -->
</html>
