<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">

</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div th:replace="componentes/notificacao :: notificacao"></div>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">
            <div th:replace="componentes/cabecalho_curso :: cabecalho_curso"></div>

            <h3>Enviar Video</h3>
            <!-- th:object="${arquivo}" -->
            <form th:action="@{/editarCurso/salvarVideo}" method="post" enctype="multipart/form-data">
                <label>Nome:
                    <input type="text" name="nome" required>
                </label>
            
                <label>Descrição:
                    <input type="text" name="descricao" required>
                </label>
            
                <label>Upload do Vídeo:
                    <input type="file" id="video" name="file" accept="video/*" required/>
                </label>
            
                <label id="label-dificuldade">
                    Nível de Dificuldade:
                    <input type="range" name="dificuldade" id="dificuldade-slider" class="slider" min="0" max="3" value="0" step="1" oninput="atualizarDificuldade()">
                    <p class="dificuldade-texto" id="dificuldadeTexto">Fácil</p>
                </label>
            
                <input type="hidden" name="topicoPai" th:value="${topicoPai}">
                <input type="hidden" name="curso" th:value="${curso.id}">
            
                <button type="submit">Salvar</button>
            </form>
        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
</html>
