<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fórum - Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/forum.css}" rel="stylesheet">
</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div class="container-principal">

                <section class="forum">
                    <div class="nova-pergunta">
                        <h2>Faça uma nova pergunta</h2>
                        <form th:action="@{/acessoCurso/{idCurso}/forum/pergunta(idCurso=${forum.id})}" 
                              th:object="${novaPergunta}" method="post">
                            <div class="input-group">
                                <label for="tituloPergunta">Título</label>
                                <input type="text" id="tituloPergunta" name="titulo" th:value="${novaPergunta.titulo}" required>
                            </div>

                            <div class="input-group">
                                <label for="descricaoPergunta">Descrição</label>
                                <textarea id="descricaoPergunta" name="mensagem" rows="5" required></textarea>
                            </div>
                            
                            <button type="submit" class="button">Enviar Pergunta</button>
                        </form>
                    </div>

                    <div class="perguntas-feitas">
                        <h2>Perguntas Anteriores</h2>

                        <div class="lista-perguntas" th:each="pergunta : ${perguntas}">
                            <div class="pergunta">
                                <h3 th:text="${pergunta.titulo}">Título da Pergunta</h3>
                                <p th:text="${pergunta.mensagem}">Descrição da pergunta</p>
                                <small th:text="${pergunta.autor}">Autor</small>
                                <small th:text="${pergunta.data}">Data da criação</small>

                                <div class="nova-resposta">
                                    <form th:action="@{/acessoCurso/{idCurso}/forum/pergunta/{perguntaId}(idCurso=${forum.id}, perguntaId=${pergunta.id})}"
                                          th:object="${novaResposta}" method="post">
                                        <div class="input-group">
                                            <label for="mensagemResposta">Sua resposta</label>
                                            <textarea id="mensagemResposta" name="mensagem" rows="3" required></textarea>
                                        </div>
                                        <button type="submit" class="button">Responder</button>
                                    </form>
                                </div>

                                <!-- Exibindo respostas -->
                                <div class="respostas">
                                    <h4>Respostas</h4>
                                    <div class="lista-respostas" th:each="resposta : ${pergunta.respostas}">
                                        <div class="resposta">
                                            <p th:text="${resposta.mensagem}">Texto da resposta</p>
                                            <p th:text="${resposta.autor}">autor</p>
                                            <small th:text="${resposta.data}">Data da resposta</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </main>
    </div>
</body>

<script src="javascript/pattern.js"></script>
</html>

