<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meus Cursos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Meus Cursos</h1>

    <div th:if="${curso != null}">
        <table>
            <thead>
                <tr>
                    <th>Nome do Curso</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${curso.nome}">Nome do Curso</td>
                    <td th:text="${curso.professor.nome}">Nome do Professor</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${mensagem != null}">
        <p th:text="${mensagem}"></p>
    </div>

    <a th:href="@{/home}">Voltar</a>
</body>
</html>
