<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dolphub</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div th:replace="componentes/notificacao :: notificacao"></div>

    <div class="left-side"></div>
    <div class="login-container">
        <h2>ENTRAR</h2>
        <p>Faça login para acessar a plataforma Dolphub</p>

        <form th:action="@{/login}" method="post">

            <div class="input-group">
                <label for="cpf"><span class="icon">📄</span> CPF</label>
                <input type="text" id="cpf" name="cpf" required>
            </div>
    
            <div class="input-group">
                <label for="senha"><span class="icon">🔒</span> Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>
    
            <a href="#" class="forgot-password">Esqueci minha senha</a>
            <a th:href="@{/cadastro}" class="forgot-password">Ainda não tenho conta</a>

            <div th:if="${erro}" class="alert alert-danger">
                <p th:text="${erro}" style="color: red;"></p>
            </div>
    
            <button type="submit">Entrar</button>
        </form>
    </div>
    
</body>
</html>
