<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dolphub - Dashboard</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">
    <link th:href="@{/styles/pagina_inicial.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="tela-completa">
        <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
        <div th:replace="componentes/notificacao :: notificacao"></div>
        <div th:replace="componentes/menu_lateral :: menu_lateral"></div>

        <main>
            <div th:replace="componentes/menu_superior :: menu_superior"></div>
            <div class="container-principal">

                <h1>Olá, <span th:text="${usuarioLogado.nome}">Fulano</span>! Bem-vindo ao seu painel</h1>

                <!-- Estatísticas -->
                <section class="section-estatisticas">
                    <h2>Estatísticas</h2>
                    <div id="estatisticas">
                        <div class="estatistica">
                            <p th:text="${quantidadeDeCursosInscritos}">0</p>
                            <p>Cursos Inscritos</p>
                        </div>
                        <div class="estatistica">
                            <p th:text="${quantidadeDeAulasAssistidas}">0</p>
                            <p>Aulas Assistidas</p>
                        </div>
                        <div class="estatistica">
                            <p><span th:text="${porcentagemAcertos}">-</span>%</p>
                            <p>de acerto nas questões</p>
                        </div>

                        <div class="estatistica">
                            <p th:text="${questoesAcertadas}">1234</p>
                            <p>Questões Corretas</p>
                        </div>

                    </div>
                    <a href="progresso" class="btn-ver-mais">Veja mais</a>
                </section>

                <!-- Seus Cursos -->
                <section class="section-seus-cursos">
                    <div class="container-topico">
                        <div id="topico-titulo-seus-cursos">
                            <h1 class="topico-nome">Seus cursos</h1>
                            <form class="search">
                                <input class="search-bar" type="text" id="searchInput"
                                    placeholder="Buscar por título do curso">
                            </form>
                        </div>
                        <ul id="listaSeusCursos" class="lista-cursos" th:if="${cursos != null}">
                            <li th:each="curso : ${cursos}">
                                <a th:href="@{${'/editarCurso/' + curso.id}}" style="text-decoration: none;">
                                    <div class="card-curso">
                                        <h2 class="titulo-curso" th:text="${curso.nome}">Nome do Curso</h2>
                                        <p class="prof-curso" th:text="'Prof. ' + ${curso.professor.usuario.nome}">Nome
                                            do
                                            Professor</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Próximas Aulas -->
                <section class="section-ultimos-avisos">
                    <h2>Últimos avisos</h2>
                    <div class="avisos">
                        <div class="aviso">
                            <h3>Aviso titulo</h3>
                            <p>Data: 15 de Novembro, 2024</p>
                        </div>
                        <div class="aviso">
                            <h3>Aviso 2</h3>
                            <p>Data: 18 de Novembro, 2024</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
<script th:src="@{/javascript/pattern.js}"></script>
<script th:src="@{/javascript/pagina_inicial.js}"></script>


</html>