<!-- template para todas as páginas em que alguém está logado (ou seja exceto login) -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dolphub</title>
    <link th:href="@{/styles/pattern.css}" rel="stylesheet">

</head>
<body>
    <div class="tela-completa">
    <script src="https://kit.fontawesome.com/633a590c1f.js" crossorigin="anonymous"></script>
    <div th:replace="componentes/notificacao :: notificacao"></div>
    <div th:replace="componentes/menu_lateral :: menu_lateral"></div>
    
    <main>
        <div th:replace="componentes/menu_superior :: menu_superior"></div>
        <div class="container-principal">
            <div th:if="${cursos != null or usuarios != null}">
                <h2>Resultados da Pesquisa:</h2>
                
                <div th:if="${#lists.isEmpty(cursos)}">
                    <p>Nenhum curso encontrado.</p>
                </div>
                <div th:each="curso : ${cursos}">
                    <p th:text="'Curso: ' + ${curso.nome} + ' - Descrição: ' + ${curso.descricao}"></p>
                </div>
        
                <div th:if="${#lists.isEmpty(usuarios)}">
                    <p>Nenhum usuário encontrado.</p>
                </div>
                <div th:each="usuario : ${usuarios}">
                    <p th:text="'Usuário: ' + ${usuario.nome} + ' ' + ${usuario.sobrenome} + ' - Email: ' + ${usuario.email}"></p>
                </div>
            </div>
        </div>

    </main>

    </div>
    </body>
    <script th:src="@{/javascript/pattern.js}"></script>
</html>
