<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dolphub</title>
    <link href="styles/cursos.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-topico">
      <h1 class="topico-nome">Todos os cursos</h1>
      <ul class="lista-cursos" th:if="${cursos != null}">
        <li th:each="curso : ${cursos}">
          <div class="card-curso">
            <div class="foto-professor"></div>
            <h2 class="titulo-curso" th:text="${curso.nome}">Nome do Curso</h2>
            <p class="prof-curso" th:text="'Prof. ' + ${curso.professor.usuario.nome}">
              Nome do Professor
            </p>
            <p>
              <a th:href="'/dolphub/inscreverCursoId/' + ${curso.id}">Inscrever</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
