<header id="header-menu-curso" th:fragment="cabecalho_curso_prof" th:if="${curso != null}">

    <div id="titulo-curso">
        <div id="divTitulo" style="display:flex; align-items: center;"> 
            <h3 th:text="${curso.nome}">Curso de python</h3><a class="info-element" data-info="Configurações" style="margin-left: 5px; color: #000000;text-decoration: none;" th:href="@{/editarCurso/{idCurso}/config(idCurso=${curso.id})}">
                <i class="fa-solid fa-gear" aria-hidden="true"></i></a>
        </div>
        <p th:text="${curso.descricao}">Curso para iniciantes em programação com pyhton por Gustavo Guanabara </p>
    </div>

    <div id="menu-curso">
        
        <a th:href="@{/editarCurso/{id}(id=${curso.id})}">Módulos</a>
        <a th:href="@{/editarCurso/{id}/salvarAviso(id=${curso.id})}">Avisos</a>
        <a th:href="@{/editarCurso/{idCurso}/bancoQuestao(idCurso=${curso.id})}">Questões</a>
        <a th:href="@{/editarCurso/{idCurso}/editarForum(idCurso=${curso.id})}">Fórum</a>
    </div>
</header>