    <nav id="menu-lateral" th:fragment="menu_lateral">
        <div class="sidebar" id="sidebar">
            <div>
                <form><i class="fa-solid fa-house"></i><span class="menu-text-visible">INÍCIO</span></form>
                <form><i class="fa-regular fa-hourglass"></i><span class="menu-text-visible">PROGRESSO</span></form>
                <form><i class="fa-solid fa-pencil"></i><span class="menu-text-visible">INSCRIÇÕES</span></form>
                <form><i class="fa-solid fa-graduation-cap"></i><span class="menu-text-visible">CURSOS</span></form>
                <form class="item-menu-final"><i class="fa-solid fa-folder"></i><span class="menu-text-visible">ARQUIVADOS</span></form>
                <form class="item-menu-fina"><i class="fa-solid fa-gear"></i><span class="menu-text-visible">CONFIGURAÇÕES</span></form>
            </div>
        </div>
    </nav>
