<!-- src/main/resources/templates/fragments/menu.html -->
    <div id="menu-superior" th:fragment="menu_superior">
        <nav>
            <!-- <i id="btn-toggle-menu" class="fa-solid fa-bars icon tmenu"></i> -->
            <!-- <img id="icon-main" src="imgs/icone_sem_fundo.png"> -->

            <form class="search">
                <input type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>

            <a id="link-atualizar-perfil" type="button" th:href="@{/atualizar}">
                <i class="fa-solid fa-user icon"></i>
            </a>        
        </nav>
    </div>
