<!DOCTYPE html>
<head>
  <link href="styles/menu.css" rel="stylesheet">
</head>
<body>
  <div id="menu-superior" th:fragment="menu_superior">
    <nav>
      <form th:action="@{/pesquisar}" method="get"  class="search">
        <input type="text" name="termo">
        <button type="submit" id="btn-search-cab">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <button id="perfil" type="button">
        <i class="fa-solid fa-user icon"></i>
      </button>

      <!-- Menu suspenso -->
      <div class="hidden" id="menu">
        <ul>
          <li><a th:href="@{/atualizar}">Perfil</a></li>
          <li><a th:href="@{/criarCurso}">Criar curso</a></li>
          <li><a th:href="@{/ajuda}">Central de ajuda</a></li>
          <li><a th:href="@{/logout}">Sair</a></li>
        </ul>
      </div>

    </nav>
  </div>

  <script src="menu.js"></script>
</body>
</html>
